
/* DEBUG */
[class^="container"]{
   height: auto;
}

/* 
[class^="col"]{
  border: 1px solid;
} */




/* UPGRADE UTILITY DI BOOTSTRAP */
.fs-0{
   font-size: 30px;
}

.fs-7{
   font-size: 15px;
}

.fs-8{
   font-size: 13px;
}




/* UTILITY */
body{
   font-family: 'Helvetica Neue', sans-serif;                                       
}

.custom_container{
   width: 80%;
   max-width: 1150px;
}

img{
   max-width: 100%;
}

ul{
   list-style: none;
}

a{
   color: white;
   text-decoration: none;
}

.color_lightgreen{
   color: rgb(26, 188, 156);
}

.color_bluenavy{
   color: rgb(44, 62, 80);
}




/* CUSTOM PROPERTIES */
:root{
   --bg-lightgreen: rgb(26, 188, 156);
   --blue_navy: rgb(44, 62, 80);
}




/* UTILITY  ROW WITH STAR */
.box_row{
   width: 20%;
}

._row{
   border: 2px solid black;
   border-radius: 5%;
   opacity: 1;
}

._white{
   border-color: white;
}

._bluenavy{
   border-color: var(--blue_navy);
}






/* INIZIO HEADER */

/* MENU_FIXED */
.menu_fixed{
   background-color: rgb(44, 62, 80);
   width: 100%;
   z-index: 10;
}

.nav-link{
   color: white;
}

.nav-item{
   width: 100px;
}

.nav-link:hover{
   text-decoration: underline;
}


/* JUMBOTRON */
.jumbotron{
   background-color: var(--bg-lightgreen);
   padding: 160px 0 50px 0;
}

.jumbotron img{
   width: 50%;
}


/* PORTFOLIO */
.portfolio img,
._overlay{
   border-radius: 10px;
}

._overlay{
   background-color: rgba(37, 238, 37, 0.516);
   top: 0;
   left: 0;
   display: none !important;
}

.portfolio ._overlay ._icon{
   font-size: 100px;
}

.portfolio ._card:hover ._overlay{
   display: block !important;
}



/* ABOUT */
.about{
   background-color: var(--bg-lightgreen);
}


/* CONTACT_ME */
.contact_me .form{
   border: none;
   border-bottom: 1px solid rgb(204, 204, 204);
}

.contact_me input::placeholder,
.contact_me textarea::placeholder{
   color: var(--blue_navy);
   opacity: 1;
}

.contact_me input,
.contact_me textarea{
   padding-bottom: 4px;
   padding: 10px 0;
}

.contact_me input:focus,
.contact_me textarea:focus{
   outline: none;
}

.contact_me textarea{
   max-height: 200px;
}

.contact_me .btn.submit{
   width: 80px;
   color: white;
   background-color: rgb(26, 188, 156);
}

.contact_me .btn.submit:hover{
   background-color: rgb(22, 173, 143);
}


/* INIZIO FOOTER */

/* FOOTER_UP */
.footer_up{
   background-color: rgb(58, 84, 109);
}

.footer_up .icon div{
   width: 40px;
   aspect-ratio: 1;
   border: 1px solid white;
   margin: 5px;
   border-radius: 50%;
}


/* FOOTER_DOWN */
.footer_down{
   background-color: rgb(44, 62, 80);
}








/* ----------
 MEDIA-QUERY
----------- */


@media(min-width: 992px){

   /* MENU_FIXED */
   .nav-item{
      justify-content: center;
   }



   /* AUMENTO DEL FONT-SIZE */
   .logo_text_upper_992{
      font-size: 30px !important;
   }

   .h1_upper_992{
      font-size: 40px !important;
   }

   .h2_upper_992{
      font-size: 35px !important;
   }

   .p_sm_upper_992{
      font-size: 21px !important;
   }
}


